@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
}


#app-chat {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* css sidebar */
#sidebar-content {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* css header sidebar */
.header-sidebar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 7px;
    background-color: #ff4e00;
}

.group-menu-sidebar-content {
    position: relative;
}

.group-menu-sidebar-content .dropdown-3-icon {
    font-size: 1.7rem;
    padding: 0px 15px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.group-menu-sidebar-content .sub-menu-sidebar-content {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    top: 56px;
    left: -7px;
    min-width: 180px;
    background: #ff4e00;
}

.group-menu-sidebar-content .sub-menu-sidebar-content a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    color: white;
    font-weight: 500;
}

.group-menu-sidebar-content .sub-menu-sidebar-content a:hover {
    background: #f04c04;
}

.show-sub-menu-sidebar-content {
    display: flex !important;
}

/* css form search */
#form-search {
    flex: 0 1 100%;
    display: flex;
    border: 1px solid #cfcfcf;
    padding: 0px 5px;
    background-color: white;
    border-radius: 10px;
}

#form-search input {
    flex: 0 1 100%;
    border: none;
    outline: none;
    padding: 4px 5px;
}

#form-search button {
    flex: 0 0 30px;
    background: none;
    border: none;
    border-left: 1px solid #cfcfcf;
}

#list-friends-chat {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px 5px;
    overflow-y: auto;
}

#list-friends-chat::-webkit-scrollbar {
    width: 2px;
}

#list-friends-chat:hover::-webkit-scrollbar {
    width: 7px;
}

#list-friends-chat::-webkit-scrollbar-thumb {
    background-color: #ff4e00;
    border-radius: 20px;
}

.group-list-friend {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 10px;
}

.group-list-friend:hover {
    background-color: #ff4e00;
    border-radius: 10px;
}

.group-list-friend:hover .name-friend {
    color: white;
}

.group-list-friend:hover .highlight-chat {
    color: #dcdbdb
}

.active-click {
    color: white;
    background-color: #ff4e00;
}

.active-click .highlight-chat {
    color: #dcdbdb !important;
}

.group-list-friend .photo-friend {
    flex: 0 0 49px;
    /* width: 50px; */
    height: 54px;
}

.group-list-friend .photo-friend img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}

.info-friend {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-self: baseline;
}

.info-friend .name-friend {
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: 600;
}

.info-friend .highlight-chat {
    font-size: .87rem;
    text-align: justify;
    color: #a3a1a1;
}



/* css main content */
#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 26px;
}

/* css header main content */
#header-main-content {
    flex: 0 0 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0 10px;
    background-color: #ff4e00;
}

/* css button back (header main content) */
#header-main-content .button-back {
    display: none;
    flex: 0 0 auto;
    font-size: 1.7rem;
    padding: 0 15px;
    cursor: pointer;
    color: white;
    /* border: 1px solid black; */
}

.show-button-back {
    display: block;
}

/* css information user chatting (header main content) */
#header-main-content .information-user-chatting {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
}

#header-main-content .information-user-chatting .personal-name {
    margin-bottom: 0;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    font-weight: 600;
    color: white;
}

#header-main-content .information-user-chatting .last-seen {
    font-weight: 500;
    font-size: 0.98rem;
    color: #ffbbbb;
}

/* css remove chat (header main content) */
#remove-chat {
    position: relative;
}

#remove-chat .btn-remove-chat {
    font-size: 1.7rem;
    padding: 0 15px;
    color: #ffbbbb;
    cursor: pointer;
}

#remove-chat .link-remove-chat {
    display: none;
    position: absolute;
    top: 56px;
    left: -95px;
    background-color: #f04c04;
    padding: 10px;
}

#remove-chat .link-remove-chat a {
    color: white;
    font-weight: 500;
}

.show-link-remove-chat {
    display: block !important;
}


/* css content */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 53px);
}

#content-chat {
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 10px;
    overflow-y: auto;
    gap: 15px;
}

#content-chat::-webkit-scrollbar {
    width: 2px;
}

#content-chat:hover::-webkit-scrollbar {
    width: 7px;
}

#content-chat::-webkit-scrollbar-thumb {
    background-color: #ff4e00;
    border-radius: 20px;
}

#content-chat .chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 50%;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    font-size: 1.1rem;
    background: #dcdbdb;
}


.chat .time-chat {
    align-self: end;
    margin-left: 30px;
    color: #9b9b9b;
    font-size: 1rem;
}

/* right chat */
#content-chat .right-chat {
    color: white;
    background: #f04c04;
    align-self: self-end;
}

.right-chat .time-chat {
    font-size: 1rem;
    color: #e4e3e3;
}



/* css form chat */
#form-chat {
    width: 100%;
    padding: 10px;
}

.group-form-chat {
    display: flex;
    outline: auto;
    outline-color: #ff4e00;
    background: white;
}

.group-form-chat textarea {
    flex: 0 1 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    padding-top: 10px;
}

.group-form-chat .button-send {
    display: flex;
    background: white;
}

.group-form-chat button {
    font-size: 1.6rem;
    padding: 2px 18px;
    border: none;
    align-self: end;
}


/* CSS find friends */
#find-friends {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.group-list-find-friends {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.foto-find-friends {
    width: 57px;
}

.foto-find-friends img {
    width: 100%;
    height: inherit;
    object-fit: fill;
    border-radius: 50%;
}

.name-find-friends {
    flex: 0 1 100%;
    font-size: 1.6rem;
}

#btn-add-friends {
    padding: 5px 7px;
    width: 150px;
    border: none;
    background: #f04c04;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 500;
}

#btn-add-friends:hover {
    background: #ff4e00;
}



/* css modal */
.modal-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: none;
}
.show-modal-page{
    display: block !important;
}
.modal-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 600px;
    max-width: 700px;
  
}
.modal-close-button{
    display: flex;
    justify-content: end;
    font-size: 1.7rem;
    cursor: pointer;
}
#modal-title{
    display: flex;
    justify-content: center;
}

#modal-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modal-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#modal-content .img-wrapper{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
#modal-content .img-wrapper img{
    width: 100%;
    height: inherit;
    object-fit: fill;
    border-radius: 10px;
}


.profile-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-user .name-user{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

}
.profile-user .describe{
    font-size: .98rem;
    color: #a3a1a1;
    text-align: center;
}
#modal-content .button-edit-profile{
    padding: 5px 10px;
    max-width: fit-content;
    margin: 0 auto;
    background-color: #ff4e00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#edit-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}
#edit-user .center-input{
    display: flex;
    align-items: center;
}

.group-edit-user{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.group-edit-user label{
    font-size: 1.3rem;
    font-weight: 600;
    color: #a3a1a1;
}

.group-edit-user input{
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}
.group-edit-user textarea{
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}

#edit-user button{
    max-width: fit-content;
    padding: 5px 10px;
    border: none;
    background: #ff4e00;
    color: white;
    font-size: large;
    align-self: end;
}
#edit-user button:hover{
    background: #f04c04;
}

.show-content-modal{
    display: flex !important;
}
.hide-content-modal{
    display: none !important;
}

/* css query */
@media screen and (max-width : 1119px) {
    #sidebar-content {
        flex: auto;
    }

    /* mobile css content */
    #main-content {
        display: none;
        padding-bottom: 0;
    }

    #main-content #content-chat {
        height: 87vh;
    }

    #header-main-content .button-back {
        display: block;
    }


    /*mobile  content chat versi under size 1119px */
    #content-chat .left-chat,
    #content .right-chat {
        max-width: 60%;
    }


    /* show content */
    .show-app-content {
        display: flex !important;
    }

    .hide-app-content {
        display: none !important; 
    }

}