@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(255, 183, 0);
    background: radial-gradient(circle, rgba(255, 183, 0, 1) 26%, rgba(243, 102, 15, 1) 68%);
    padding: 10px;

}

a{
    text-decoration: none;
    color: black;
}

#layoutApp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 700px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.title{
    text-align: center;
    padding: 10px 0px;
    background: #ff4e00;
    
}
.title h2{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}
.group-input-icon{
    display: flex;
    align-items: center;
    border: 1px solid #cfcfcf;
    font-size: 1.4rem;
    border-radius: 10px;
}
.group-input-icon i{
    flex: 0 0 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    font-size: 1.3rem;
    color: #6e6e6e;
}
.group-input-icon input{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 7px;
    border-left: 1px solid #cfcfcf;
    border-radius: 0px 10px 10px 0px;
    font-size: 1.2rem;
}

.group-forget-register{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0px;
    
}
.group-forget-register a{
    color: #979797;
}
.forget-account, .register-account, .back-login{
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.4px;
    font-size: 1.1rem;
    font-weight: 500;
}
.register-account, .back-login{
    text-decoration: none;
}
.back-login:hover{
    color: #f6753c; 
}

.btn-login{
    background: #ff4e00;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}
.btn-login:hover{
    background: #f6753c;
    color: white;
}